 <!-- INICIO diseño de botonera -->
        <div class="container-fluid">
            <div class="row" id=menuArriba>
                <div class="offset-1 col-1 align-items">
                    <a href="index.html"><img class="botones-01" id=logo-two src="img/logo-G2.png"> </a>                
		</div>
                <div class="offset-4 col-1 d-flex align-items-center">
                    <a class="btn btn-outline-light botones-01" href="contacto.html" role="button">CONTACTO</a>
		    
		</div>
		<div class="offset-1 col-1 d-flex align-items-center">
		<a class="btn btn-outline-primary botones" href="login.html" role="button">LOGIN</a>
                </div>
            </div>

    <!-- INICIO diseño de cuerpo -->
    <div class="row" id="form-fondo">
        <div class="col-12 px-5">
            <div class="row">
                <div class="col-8 col-md-4 offset-2 offset-md-4 caja-titulo-contacto-login">
                    <p class="text-center texto-mediano mt-3">CONTACTO</p>
                </div>
            </div>
            <div class="row">
                <div class="col-8 col-md-4 offset-2 offset-md-4 pt-0 px-3 pb-5 caja-contacto-login">
                    <form method="POST">
                        <input type="text" class="form-control mt-5" placeholder="Nombre:" name="nombre" required>
                        <input type="text" class="form-control mt-3" placeholder="Apellido:" name="apellido" required>
                        <input type="email" class="form-control mt-3" placeholder="Email:" name="email">
                        <textarea type="text" class="form-control mt-3" rows="5" placeholder="Escribite algo acá:" name="mensaje" required></textarea>
                        <button class="btn btn-primary mt-3" type="submit">ENVIALO!</button>
                    </form>
                </div>
            </div>
        </div>               
    </div>
	<div class="row"><hr></div>
	<div class="row"><hr></div>  
    <!-- INICIO diseño de pie -->
    <div class="row" id="pie1">
        <div class="col-12 px-0">
            <div class="px-0 caja-pie">
                <p class="text-center texto-pie mt-0">Trabajo práctico para el curso de Programador Web Inicial en la UTN - 2019</p>
            </div>
        </div>
    </div>
</div>

